.feed {
	border-right: 1px solid var(--twitter-background);
	min-width: fit-content;
	overflow-y: scroll;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.feed__header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;

	padding: 15px 20px;
}

.feed__header > h2 {
	font-size: 20px;
	font-weight: 800;
}
